{% extends 'base.html.twig' %}

{% block title %}My QUizz - Editer mon profil {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.city) }}
            <input type="submit" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ path('user_profil') }}">Annuler</a>

            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
