{% extends 'base.html.twig' %}

{% block title %}Hello UserProfilController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.username, { 'attr':{'disabled':'disabled'} }) }}
            {{ form_row(form.first_name, { 'attr':{'disabled':'disabled'} }) }}
            {{ form_row(form.last_name, { 'attr':{'disabled':'disabled'} }) }}
            {{ form_row(form.city, { 'attr':{'disabled':'disabled'} }) }}
            {#        {{ form_row(form.submit) }}#}
            {{ form_end(form) }}

            <a class="btn btn-grad" href="{{ path('user_edit_profil') }}">Editer mon profil</a>
            <a class="btn btn-grad" href="{{ path('edit_mail') }}">Changer mon adresse mail</a>
            <a class="btn btn-grad" href="{{ path('edit_password') }}">Changer mon mot de passe</a>
            <a class="btn btn-grad" href="#">Supprimer mon profil</a>
        </div>
    </div>
</div>

{% endblock %}
