{% extends 'base.html.twig' %}

{% block title %}Hello UserProfilController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(form.first_name, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(form.last_name, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(form.email, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(form.city, { 'attr':{'disabled':'disabled'} }) }}
        {{ form_row(form.password, { 'attr':{'disabled':'disabled'} }) }}
{#        {{ form_row(form.submit) }}#}
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('user_edit_profil') }}">Editer mon profil</a>
    <a class="btn btn-primary" href="#">Supprimer mon profil</a>
{% endblock %}
