{% extends 'base.html.twig' %}

{% block title %}Hello UserProfilController!{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.email) }}
<input type="submit" class="btn btn-primary">
<a class="btn btn-primary" href="{{ path('user_profil') }}">Annuler</a>

{{ form_end(form) }}

{% endblock %}
