{% extends 'base.html.twig' %}
{% block title %}Hello UserProfilController!{% endblock %}
{% block body %}

{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.password) }}
    <input type="submit" class="btn btn-grad btn-primary">
    <a class="btn btn-grad" href="{{ path('user_profil') }}">Annuler</a>

{{ form_end(form) }}
{% endblock %}
