{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="#">{{ categorie.name }}</a>

                <ul>
                    {{ form_start(form) }}
                        {% for question in categorie.questions %}
                            <label>{{ question.question }}</label>

                                {% for reponse in question.reponses %}
                                    <label>{{ reponse.reponse }}</label>
                                {% endfor %}
                            <input type="submit" class="btn btn-primary">
                        {% endfor %}
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
